<h1>User Index:</h1>
<h3>Debugging user registration</h4>
<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><%= link_to 'Delete User', user_path(user),
             method: :delete,
             data: { confirm: 'Are you sure?' } %></td>
   </tr>
    </tr>
  <% end %>
</table>
