<p>
  <h1> r/<%= @subforum.title %></h1>
</p>

<h2>Posts</h2>
<% @subforum.posts.each do |post| %>

  <!-- <p>
    <strong>Post:</strong>
    <%= post.body %>
  </p> -->

  <h3> <%= link_to post.title, subforum_post_url(@subforum, post) %> </h3>

<% end %>
